body {
  background-image: url(freedom1.jpg); 
  background-size: cover;

}

 .search_bar_container {
  position: relative;
  top: 370px;
  max-width: 600px;
  margin: 0 auto;
 }

 .keywords {
  position: absolute;
  top: 0;
  right: 0;
  list-style: none;
  padding: 1em;
  text-align: right;
 }

.keywords li {
  margin-bottom: 0.5em;

}

.keyword {
  background-color: rgba(0, 128, 128, 0.8);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 0.3em 0.6em;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.keyword .remove_keyboard {
  margin-left: 0.5em;
  color: inherit;
  position: relative;
  top: 0.08em;

}


.results {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.result {
  position: absolute;
  background-image: url(polaroid.png); 
  width: 16em;
  height: 19em;
  background-size: cover;
  padding: 15.5em 2em 2em;
  left: 50%;
  top: 100%;
}

.result .photo {
  position: absolute;
  top: 1.8em;
  left: 1.75em;
  width: 12.68em;
  overflow: hidden;
  
}

.result img {
  max-width: 110%
}

.result .caption {
  text-align: right;
}
