
@font-face {
font-family: SegoeWP-Light;
src: url(fonts/SegoeWP-Light.ttf);
}

body {
  background-image: url(freedom1.jpg); 
  background-size: cover;
  background-attachment: fixed; 
  font-family: SegoeWP-Light;


}

.header {
  height: 50px;
}

 .search_bar_container {
  position: relative;
  /*top: 370px;*/
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
 }

 .search_bar_container img {
  margin: 0 auto;
  display: block;
 }

 .keywords {
  position: absolute;
  top: 50px;
  right: 0;
  list-style: none;
  padding: 1em;
  text-align: right;
 }

.keywords li {
  margin-bottom: 0.5em;

}

.keyword {
  background-color: rgba(0, 118, 201, 0.78);
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 0.3em 0.6em;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.keyword .remove_keyboard {
  margin-left: 0.5em;
  color: inherit;
  position: relative;
  top: 0.08em;

}


.results {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.result {
  position: absolute;
  background-image: url(polaroid.png); 
  width: 16em;
  height: 19em;
  background-size: cover;
  padding: 15.5em 2em 2em;
  left: 50%;
  top: 100%;
  cursor: pointer;
}

.result .photo {
  position: absolute;
  top: 0.95em;
  left: 0.8em;
  width: 14.4em;
  overflow: hidden;
  
}

.result img {
  width: 100%;
  min-height: 85%;
}

.result .caption {
  text-align: right;
  font-size: 0.7em;
}

#vivi, #grazie_attenzione, #vivi_amico {
  width: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
}

.action_buttons {
  background: #00F;
  background-color: rgba(0, 118, 201, 0.78);
  color: white;
  position: relative;
  display: table;
  padding: 0.8em 1em;
  border-radius: 5px;
  left: 1.5em;
}

.action_buttons a {
  color: white;
  font-size: 1.2em;
}

