<div class="header"></div>
<div class="search_bar_container">
  <%= image_tag "uplace_logo_200_shadow.png" %>
  <div class="row">
    <div class="small-12 columns">
        <%= text_field_tag "search", "" %>
    </div>
  </div>
</div>
<div class="results"></div>
<ul class="keywords"></ul>


