<div class="search_bar_container">
  <div class="row">
    <div class="small-12 columns">
        <%= text_field_tag "search", "" %>
    </div>
  </div>
</div>

<ul class="keywords">
  <li>
    <span class="keyword"># qualcosa<a href="#" class="remove_keyboard">×</a></span>
  </li>
  <li>
    <span class="keyword"># dibello<a href="#" class="remove_keyboard">×</a></span>
  </li>
</ul>

<div class="results">
  <div class="result">
  </div>
</div>
